.vas-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.vas-modal-container[data-isOpen=false]{
  display:none;
}
.vas-modal-clickguard {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  opacity:0.5;
}
.vas-modal-content {
  position: relative;
  background: #c5d5e6;
  max-width: 90%;
  border-radius: 5px;
  z-index: 1;
  margin: 0 auto;
}
.vas-modal-content-add-call {
  top: 5%;
  height:90%;
}
.vas-modal-content-normal {
  top:15%;
}
.vas-modal-content-normal 
.vas-modal-content-main{
  border:none;
}
.vas-modal-content-header {
  display: flex;
  align-items: center;
  background-color: lightseagreen;
  padding: 10px;
  height: 4%;
  color: white;
  font-size: 140%;
  box-shadow: inset 0px -5px 6px -6px black;
}
.vas-modal-header-text {
  width:93%;
}
.vas-modal-content-main {
  padding: 2%;
  white-space: pre-line;
  overflow-y: auto;
  height:75%;
  border-bottom: solid 1px grey;
}
.vas-modal-content-main-add-call {
  height:93%;
  padding:0;
  overflow:hidden;
}
.vas-modal-message {
  line-height: 140%;
  font-size: 120%;
}
.vas-modal-content-closeBtn {
  font-size: 125%;
  cursor: pointer;
  margin: 0 auto;
  margin-right: 0;
}
.vas-modal-content-inner {
  display:block;
  width:100%;
  height:100%;
}
.vas-modal-cancel,
.vas-modal-confirm {

}
.vas-modal-cancel {
  margin-right:15px;
  background:red;
}
.vas-modal-confirm {
  background:green;
}
.vas-modal-add-call-row-block {
  display:block;
  width:100%;
  margin-bottom:15px;
  margin-right:15px;
}
.vas-modal-add-call-row-inner {
  margin-right: 15px;
  display: inline-block;
  margin-bottom:15px;
}
.vas-modal-add-call-row-block p,
.vas-modal-add-call-row-inner p {
  margin-bottom:5px;
}
.vas-modal-add-call-input {
  font-size:inherit;
  display: inline-block;
  border-radius: 3px;
  border: none;
  height: 37px;
  padding-left: 5px;
  box-shadow: inset 1px 1px 3px -1px black;
}
.vas-modal-add-call-textarea {
  width: 98%;
  min-height: 110px;
  border-radius: 3px;
  border: none;
  box-shadow: inset 2px 2px 3px -2px black;
  margin-bottom: 20px;
  margin-top: 10px;
}
.vas-modal-saved-msg {
  text-align: center;
  padding: 37px;
  font-size: 140%;
}
.vas-modal-confirmation-container {
  display: flex;
  flex-flow: column;
}
.vas-modal-content-buttonContainer-outer {
  height: 10%;
  padding: 2% 0;
}
.vas-modal-content-buttonContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vas-modal-confirmation-btn-container {
  margin: 0 auto;
  margin-top: 20px;
}
.vas-modal-custom-input {
  width:100%;
}
.vas-modal-is-important {
  box-shadow:none;
  background:seagreen;
}