.vas-last-update-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: end;
}
.vas-last-update-label {
  display: inline-block;
}
.vas-last-update-timer {
  display: inline-block;
  font-size: 110%;
  min-width: 45px;
  text-align: right;
}
